

.color-primary {
    color: #506df7;
    color: #000;
}
.color-primary-2 {
    color: #26bb2d;
    fill: #26bb2d;
}
.color-secondary {
    color: #d62626;
}
.color-white {
    color: #fff;
}
.color-black {
    color: #000;
}
.color-grey-1 {
    color: #343434;
}
.color-grey-2 {
    color: #525252;
}

.color-primary-background {
    background-color: #000;
}
.color-white-background {
    background-color: #fff;
}
.color-dark-background {
    background-color: #0d0f17;
}
.color-grey-background {
    background-color: grey;
}

.button-primary {
    background-color: #000;
    outline: #000;
}
.button-primary p {
    color: #fff;
    font-weight: 500;
}

.button-coloring-2 {
    background-color: #fff;
    outline: #fff;
}
.button-coloring-2 p {
    color: #000;
    font-weight: 500;
}